* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}





    .container {
        width: 90%;


        margin: 0 auto;
    }

header {
    display: flex;
    top: 0;
    right: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    position: fixed;
    border-bottom: 2px solid rgb(0, 255, 76);
    z-index: 20;
}

.header-left {}

.header-left img {
    height: 70px;
}

.header-center {
    margin: auto 9px;
    display: flex;
}


/* Menu dieu huong-------------------------------------------------------- */

.header-center>ul>li {
    position: relative;
}

.header-center ul ul {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0 0 0 10px;
    list-style: none;
    border-radius: 3px;
    width: 185px;
    background-color: #fff;
    box-shadow: 0 0 1px gray;
    height: 130px;
    width: 185px;
}

.header-center ul ul a {
    display: block;
    line-height: 30px;
    color: rgb(0, 255, 76);
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 5px 0px;

}

.header-center>ul>li:hover>ul {
    display: block;
}

.header-center ul li {
    list-style: none;
}

.header-center ul ul a:hover {}

/* End menu dieu huong ----------------------------------------------------*/

.header-center a {
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    color: #000;
    font-size: 20px;
    font-family: cursive;
}

.header-center a:hover {
    color: rgb(0, 0, 0);
}

.header-right {
    margin: auto 9px;
}

.header-right a {
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    color: #000;
    font-size: 25px;
}

.header-right a:hover {
    color: rgb(0, 255, 76);

}

.banner {
    display: flex;
    margin-top: 110px;
}

.banner img {
    width: 100%;
    border-radius: 30px;
}

#thong-tin {
    margin-top: 50px;
    text-align: center;
}

#thong-tin span {
    /* background-color: rgb(0, 255, 76); */

    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    /* border-radius: 25px; */
    display: inline-block;
    border-bottom: 3px solid #a6ce39;
}





.san-pham {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}



.san-pham-small {
    margin: 10px 10px;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 5px;
    width: 15%;
}

.san-pham-small:hover {
    border: 1px solid rgb(0, 255, 76);
    transform: scale(110%);
    transition: .5s all ease-out;
}

.san-pham-small img {
    width: 100%;
}

.tieu-de.pdl {
    font-weight: bold;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 40px 10px;
}

.mo-ta.pdl {
    text-align: justify;
}

.gia.pdl {
    margin: 30px 5px;
    display: flex;
    justify-content: space-between;
}

.gia.pdl-left span {
    color: red;
    font-weight: bold;
}

.gia.pdl-right {
    margin-top: 10px;
}

a.mua-ngay-btn {
    text-decoration: none;
    border: 2px solid rgb(0, 255, 76);
    border-radius: 10px;
    padding: 10px 15px;
    color: rgb(0, 255, 76);
}

a.mua-ngay-btn:hover {
    background-color: red;
    color: #fff;
    border: 2px solid red;
}

.san-pham-bottom {
    display: flex;
    justify-content: center;
}

.thanh-long-trang {
    display: flex;
    margin: 30px 5px;
    justify-content: space-between;
    bottom: 18px;
    position: relative; 
}

div#Trang1 {
    padding-top: 40px;
}


/* San pham khuyen mai----------------------------------------------------------------- */

#trang2 {
    display: flex;
}

#thong-tin-2 {
    text-align: center;
    margin-top: 70px;
}

#thong-tin-2 span {
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    display: inline-block;
    border-bottom: 3px solid #a6ce39;

}




/* --------------------------------------------Fotter------------------------------------ */
footer {
    display: flex;
    margin-top: 100px;
    width: auto;
    
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    text-decoration: none;
    color: #000;
}


.footer-1 {
    flex: 1;
}

.footer-1 li {
    padding: 0 0 10px 0;
}



.footer-1>ul>li>a {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}


.footer-1 li {
    list-style-type: none;
}

.ft1-sub {
    padding-top: 10px;
}

.footer-2 {
    flex: 1;
}

.ft2-sub{
    padding-top: 10px;
}

.footer-2>ul>li>a{
    font-size: 20px;
}

.footer-2 ul li{
    padding-bottom: 10px;
}

.footer-2>ul>li>a{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.footer-2 li {
    list-style-type: none;
}

.footer-2 p{
    font-size: 20px;
}

.footer-2 img{
    padding: 20px 0 0 0;
}

img.chungnhan-2 {
    width: 90%;
}

.footer-3 {
    flex: 2;
}

.ft3-km{
    width: 80%;
    height: 100px;
    background-color: #f1f1f1;
    padding: 15px 0 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.ft3-km label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 5px;
}

.ft3-nav>li>p{
    padding: 10px 0 10px 0;
}

.ft3-nav>li {
    list-style-type: none;
}

.ft3-nav a{
    font-size: 20px;
    font-weight: bold;
}

.input-ft3 input{
    height: 35px;
    width: 80%;
    text-align: center;
}

.input-ft3-btn button{
    height: 35px;
    width: 50px;
    background-color: #438223;
    color: #fff;
    border: none;
    cursor: pointer;
}

.diachi-sub li{
    list-style-type: none;
    padding-bottom: 10px;
}

.diachi-sub li::before {
    content: "•";
    color: rgb(0, 255, 76);
    font-size: 22px;
    margin-right: 8px;
}

.mxh li {
    list-style-type: none;
}

ul.mxh{
    margin-top: 20px;
}

.mxh li p{
    font-size: 20px;
    font-weight: bold;
}

.mxh li ul{
    margin-top: 10px;
}

.mxh li ul li a{
    font-size: 30px;
    margin: 0 10px 0 0;
}

.mxh li ul li {
    display: inline-block;
}

ul.pay{
    margin-top: 20px;   
}

.pay li p{
    font-size: 20px;
    font-weight: bold;
}

.pay li ul li {
    display: inline-block;
}

.pay li {
    list-style-type: none;
}

.pay li ul img{
    margin: 0 10px 0 0;
}

img.visa-icon {
    max-width: 61px;
}





.chat-icon img {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
}

.ml20{
    margin-left: -20px;
}

.mt10{
    margin-top: 10px;
}